config.py
debug.py
*.json
*.zip
local_file.txt
*.log
*.pyc
SFTP_folders
clever_iota_file_transfer/
savva_iota_file_transfer/
__pycache__
sftp_operations_folder/file_transfers/local_iota_file_transfer